{% extends "base.html" %}
{% block title %}DELETE GENRE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
                <h1>Effacer le genre :</h1>
                {% for row in data %}
                    {% if loop.first %}
                    <h2>{{ row.mail  }}</h2>
                    {% endif %}
                {% endfor %}
			</p>

			<form method="POST" action="{{ url_for('genres_delete') }}">
                <table class="table table-bordered table-sm">
                    {% if data_films_associes %}
                        <h3>Il est associé avec les films suivants :</h3>
                        <thead>
                            <tr>
                                <th>
                                    Nom du film
                                </th>
                            </tr>
                        </thead>
                        {% for row in data_films_associes %}
                            <tbody>
                                <tr>
                                    <td>
                                        {{ row.nom }}
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    {% else %}
                        <h3>Il n'est associé à aucun film.</h3>
                    {% endif %}
                </table>
                <button class="btn btn-danger" type="submit">EFFACER</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
