{% extends "base.html" %}
{% block title %} Afficher personne {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				personne à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            nom
                        </th>
												<th class="align-middle">
                            prénom
                        </th>
												<th class="align-middle">
                            date de naissance
                        </th>
                        <th class="align-middle">
														add
                        </th>
                        <th class="align-middle">
														edit
                        </th>
                        <th class="align-middle">
														delete
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_personne }}
						</td>
						<td class="align-middle">
							{{ row.nom }}
						</td>
						<td class="align-middle">
							{{ row.prenom }}
						</td>
						<td class="align-middle">
							{{ row.date_naissance }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('personne_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('personne_edit', id_personne_edit_html=row.id_personne) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('personne_select_delete', id_personne_delete_html=row.id_personne) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun personne.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('personne_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
